* {
  box-sizing: 'border-box';
  font-family: 'Montserrat', 'Roboto', '"Helvetica Neue"', 'Arial', 'sans-serif';
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto', '"Helvetica Neue"', 'Arial', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiToolbar-root .MuiInput-root::before {
  visibility: hidden;
}
.MuiToolbar-root .MuiSelect-select {
  margin: 0 15px;
}

.MuiDrawer-root .MuiTypography-root {
  white-space: nowrap;
}